
.svg-icon {
  background-image: url("/images/logoFooter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background-image 0.5s ease;
}
.svg-icon.disabled {
  background-image: url("/images/logoFooterOrange.svg");
}

.svg-icon:hover {
  background-image: url("/images/logoFooterGradient.svg");
}

.hover-blue:hover {
  background-color: #bbd4ff;
}
.hover-green:hover {
  background-color: #afedff;
}
.hover-orange:hover {
  background-color: #ffbc5b;
}
