@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-ibm-plex-mono), sans-serif;
  font-size: 24px;
}
h1,
h2,
h3 {
  font-family: var(--font-robert-trial-medium), sans-serif;
}

h2 {
  font-size: 80px;
  font-weight: 500;
  line-height: 72px;
}

h3 {
  font-size: 40px;
}
button {
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 768px) {
  body{
    font-size: 18px;
  }
  h2 {
    font-size: 40px;
    line-height: 36px;
  }
}
