
.open {
  background-color: rgba(16, 17, 20, 1);
  width: 14px;
  height: 1.5px;
  border-radius: 2px;
  position: relative;
  transition: all 0.3s ease;
}

.open::before,
.open::after {
  content: "";
  background-color: rgba(16, 17, 20, 1);
  width: 14px;
  height: 1.5px;
  border-radius: 2px;
  position: absolute;
  left: 0; 
  transition: all 0.3s ease;
}

.open::before {
  top: -4px;
}

.open::after {
  top: 4px;
}


.open-active {
  background-color: transparent;
}

.open-active::before {
  transform: rotate(45deg);
  top: 0;
}

.open-active::after {
  transform: rotate(-45deg);
  top: 0;
}

