
  .rotation-container {
    width: 420px;
    height: 480px;
    position: relative;
    animation: rotate-container 10s infinite linear;
  }
  
  @keyframes rotate-container {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .circles-loader {
    position: absolute;
    text-indent: -9999px;
    display: inline-block;
    width: 580px;
    height: 580px;
    top: -150px;
    left: -50px;
    background-image: url('/images/Ellipse4916.png');
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    animation: circles-loader 10s infinite linear; 
    transform-origin: center;
  }
  
  .circles-loader::before {
    content: '';
    position: absolute;
    width: 520px; 
    height: 520px;
    top: 220px;
    left: -120px; 
    background-image: url('/images/Ellipse4918.png');
    background-size: cover;
    border-radius: 50%;
  }
  
  .circles-loader::after {
    content: '';
    position: absolute;
    width: 480px; 
    height: 480px;
    top: 230px; 
    left: 200px; 
    background-image: url('/images/Ellipse4919.png');
    background-size: cover;
    border-radius: 50%;
  }
  